
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<!-- Toast message -->

<div class="toast-wrap" id="toast-wrap">
        
    <div class="toast" id="toast">
        <div class="container-1">
            <i id="icon-block" class="fa-regular fa-circle-check"></i>
        </div>
        <div class="container-2">
            <p id="status-block">Success</p>
            <p id="message-block">Data Updates in database</p>
        </div>
        <button id="close-toast" onclick="closeToast()">
            &times;
        </button>
    </div>

</div>
<!-- /Toast message -->


  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update User</h2>
            <span>Use the below form to Update an account</span>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="name" value="<%= user.name %>" placeholder="FirstName MiddleName LastName" required>
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" name="email" value="<%= user.email%>" placeholder="example@gmail.com" required>
        </div>
        <div class="form-group">
            <label for="Course">Course</label>
            <input type="text" name="course" value="<%= user.course%>" placeholder="Information Technology" required>
        </div>
        <div class="form-group">
            <label for="Course-year">Course-year</label>
            <input type="text" name="courseYear" value="<%= user.courseYear%>" placeholder="3" required>
        </div>
        <div class="form-group">
            <label for="seatNumber" >Seat number</label>
            <input type="text" name="seatNumber" value="<%= user.seatNumber%>" placeholder="S190248560" required>
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" <%= user.gender == 'Male' ? 'checked' : '' %>>
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female"  <%= user.gender == 'Female' ? 'checked' : '' %> >
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
