<% for(var i = 0; i < users.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= users[i].name %></td>
    <td><%= users[i].email %></td>
    <td><%= users[i].gender %></td>
    <td><%= users[i].seatNumber %></td>
    <td><%= users[i].course %> </td>
    <td>
        <div style="
            display: flex;
            justify-content: space-evenly;
            align-items: center; "
        >
            <a href="/updateUser?id=<%= users[i]._id%>" class="btn update" title="Edit this record ?">
                <span class="material-symbols-outlined">
                    edit
                </span>
            </a>
            <a class="btn delete" data-id=<%= users[i]._id%> onclick="deleteThis('<%= users[i]._id%>')">
                <span class="material-symbols-outlined"  title="Delete this record ?" style="color: rgb(183, 3, 3) !important; cursor: pointer;">
                    delete_forever
                </span>
            </a>
        </div>
    </td>
</tr>
<% } %>