<%- include('_header') %> 

        <div class="content">
            <div class="Title">Profile</div>

            <form id="updateAdmin">
                <div class="profileInfo">
                
                    <div style=" display: flex; flex-direction: column; ">
                        <label for="username" >Username</label>
                        <input type="hidden" name="id" value="<%= user._id %>">
                        <input type="password" value="<%= user.username %>" name="username" id="user">
                        <label for="password" >Password</label>
                        <input type="password" value="<%= user.password %>" name="password" id="pass">
                    </div>
                     
                    <a class="showUserPass" onclick="showUserPass()" style="width: 20%;">Show Username And Password</a>
                </div>
    
                <div class="button">
                    <button type="submit">
                        Update Profile
                        <span class="material-symbols-outlined">
                            upgrade
                        </span>
                    </button>
                </div>
            </form>

        </div>

    </div>

    <script>
        let user = document.getElementById('user')
        let pass = document.getElementById('pass')

        function showUserPass(){
            const type = user.getAttribute('type') === 'password' ?  'text' : 'password'
            const type2 = pass.getAttribute('type') === 'password' ?  'text' : 'password'
            user.setAttribute('type', type);
            pass.setAttribute('type', type2);
        }



    </script>

<!-- include footer -->
<%- include('../include/_footer') %>
<!-- /include footer -->